@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#topbar{
  transform: translateX(-50%);
  animation: topbar 1s ease-in-out infinite alternate;
}

#midbar{
  transform: translateX(-50%);
  animation: topbar 1s ease-in-out infinite alternate;
}
#botbar{
  transform: translateX(-10%);
  animation: topbar .8s ease-in-out infinite alternate;
}


@keyframes topbar {
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(50%);
  }
}
