@tailwind base;
@tailwind utilities;
@tailwind components;

*{
  margin: o;
  border: 0;
  box-sizing: border-box;
}


#topbar{
  transform: translateX(-50%);
  animation: topbar 1s ease-in-out infinite alternate;
}

#midbar{
  transform: translateX(-50%);
  animation: topbar 1s ease-in-out infinite alternate;
}
#botbar{
  transform: translateX(-10%);
  animation: topbar .8s ease-in-out infinite alternate;
}


@keyframes topbar {
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(50%);
  }
}
